{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "simple-import-sort",
    "jest"
  ],
  "env": {
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "ignorePatterns": [
    "webpack.config.js",
    "node_modules",
    "dist"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}
