h3#target.center.page-title:hover:last-child:nth-child(4)[title="some text"]::before {
    background: red;
}

h3#target.center.page-title:hover:last-child:nth-child(4)[title="some text"]::before {
    background: red;
}

h3#target.center.page-title:hover:last-child:nth-child(4)[title="some text"]::before {
    background: red;
}

h3 {
    background: red;
}

h3.center {
    background: red;
}

h3#target.center {
    background: red;
}

h3#target.center.page-title {
    background: red;
}