[title="help text"] {
    background: red;
    color: white;
}

:not([title="help text"]) {
    background: orangered;
    color: white;
}

[title="help text"] {
    background: orange;
    color: white;
}

:not([title="help text"]) {
    background: darkorange;
    color: white;
}

[title^="help text"] {
    background: yellow;
    color: white;
}

:not([title^="help text"]) {
    background: yellowgreen;
    color: white;
}

[title$="help text"] {
    background: green;
    color: white;
}

:not([title$="help text"]) {
    background: cyan;
    color: white;
}

[title*="help text"] {
    background: blue;
    color: white;
}

:not([title*="help text"]) {
    background: darkblue;
    color: white;
}

:not([title]) {
    background: purple;
    color: white;
}

[title] {
    background: violet;
    color: white;
}

:not([title]) {
    background: black;
    color: white;
}

[title] {
    background: white;
    color: white;
}