#target {
    background: blue;
}

#target {
    background: blue;
}

:not(#target) {
    background: blue;
}

#with_and- {
    background: blue;
}

#--prefix {
    background: blue;
}

#__prefix {
    background: blue;
}

#😀😀😀 {
    background: blue;
}

#AÁâ {
    background: blue;
}