h3, #target, .center, .page-title, ::before, [title="some text"], :hover, :last-child, :nth-child(4) {
    background: red;
}

:hover, [title="some text"], .center, ::before, :last-child, :nth-child(4), #target, h3, .page-title {
    background: red;
}

h3, #target, .center, .page-title, ::before, [title="some text"], :hover {
    background: red;
}

h3 {
    background: red;
}

h3, .center {
    background: red;
}

h3, .center, #target {
    background: red;
}

h3, .center, #target, .page-title, :nth-child(4) {
    background: red;
}