/*------------------------------------------------------------------
 *      THEME
 *-----------------------------------------------------------------*/

:root {
    --primary: #F73D93;
    --primary-light: #fd62aa;
    --secondary: #16003B;
    --secondary-light: #23054d;
    --dark-gray: #282936;
    --gray: #7F8487;
    --highlight-1: #ffff83;
    --highlight-2: rgba(122, 242, 223);

    --nav-bar-height: 6rem;
    --box-header-height: 3.5rem;
    --playground-main-gap: 2rem;
}

/*------------------------------------------------------------------
 *      UTIL CLASSES
 *-----------------------------------------------------------------*/

.hlp {
    color: var(--primary);
}

.hl1 {
    color: var(--highlight-1);
}

.hl2 {
    color: var(--highlight-2);
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/*------------------------------------------------------------------
 *      GLOBAL STYLE
 *-----------------------------------------------------------------*/

* {
    scroll-behavior: smooth !important;
}

body {
    background: var(--secondary);
    color: white;

    /* push footer to bottom */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

::selection {
    color: white;
    background: var(--primary-light);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-bar-height);
    background: var(--secondary-light);
    overflow-y: hidden;

    box-shadow: 0px -5px 25px 0px rgba(247,61,147,0.15) inset;
    -webkit-box-shadow: 0px -5px 25px 0px rgba(247,61,147,0.15) inset;
    -moz-box-shadow: 0px -5px 25px 0px rgba(247,61,147,0.15) inset;
    z-index: 1000;
}

nav > * {
    height: 100%;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo h5 {
    margin: 0;
}

nav .logo img {
    height: 4rem;
    margin: 1rem 3rem;
    transition: all ease-out 0.2s;
}

nav .logo img:hover {
    transform: rotate(25deg) scale(1.2);
}

nav div:last-child {
    display: flex;
}

nav div:last-child > * {
    color: var(--primary);
    fill: var(--primary);
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    padding: 2rem;
    margin: 0;
    transition: all ease-in-out 0.3s;
}

nav div:last-child > *:hover {
    background: var(--primary);
    fill: white;
    color: white;
}

nav.mobile {
    display: none;
}

nav.mobile svg {
    width: calc(var(--nav-bar-height) - 2rem * 2);
}

nav.mobile div > * {
    height: calc(var(--nav-bar-height) - 2rem * 2);
    cursor: pointer;
}

@media (max-width: 900px) {
    nav.desktop {
        display: none;
    }
    nav.mobile {
        display: flex;
        position: sticky;
        top: 0;
    }
}

footer {
    background: var(--secondary-light);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .icon {
    height: 2rem;
    padding: 0 2rem;
    cursor: pointer;
    transform: scale(1);
    transition: all ease-in-out 0.25s;
}

footer .icon:hover {
    transform: scale(1.5);
}

#to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: var(--primary-light);
    color: white;
    cursor: pointer;
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: x-large;
    transition: background-color ease-in-out 0.25s;
}

#to-top-button:hover {
    background-color: var(--primary);
}

/*------------------------------------------------------------------
 *      HOME PAGE
 *-----------------------------------------------------------------*/

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home > * {
    margin: 3rem;
}

.home h2 {
    margin-top: 0;
}

.home img + h3 {
    margin-bottom: 1rem;
}

.home h3 {
    font-weight: bold;
}

.home .logo {
    max-height: 250px;
    max-width: 40vw;
    transition: all ease-out 0.2s;
}

.home .logo:hover {
    transform: rotate(25deg) scale(1.2) translate(4rem, 4rem);
}

.home .snippet {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home .snippet img {
    max-height: min(220px, 40vw);
    border: 1px solid var(--gray);
    border-radius: 1rem;
}

@media (max-width: 480px)  {
    .home > * {
        margin: 2rem;
    }

    h2 {
        font-size: 3rem;
    }
}

/* arrow animation copied from https://codepen.io/RenMan/pen/jwWKMb */

#arrow-animation {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem;
}

.arrow {
    width: 4rem;
    height: 4rem;
    border: 0.5rem solid;
    transform: rotate(135deg);
}

.arrow-sliding:nth-last-child(1) .arrow,
.arrow-sliding:nth-last-child(3) .arrow {
    border-color: var(--highlight-1) transparent transparent var(--highlight-1);
}

.arrow-sliding:nth-last-child(2) .arrow,
.arrow-sliding:nth-last-child(4) .arrow {
    border-color: var(--highlight-2) transparent transparent var(--highlight-2);
}

.arrow-sliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
}

.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(-7rem); }
    20% { opacity:1; transform: translateX(-5rem); }
    80% { opacity:1; transform: translateX(1rem); }
    100% { opacity:0; transform: translateX(3rem); }
}
@keyframes slide {
    0% { opacity:0; transform: translateX(-7rem); }
    20% { opacity:1; transform: translateX(-5rem); }
    80% { opacity:1; transform: translateX(1rem); }
    100% { opacity:0; transform: translateX(3rem); }
}

.nav-buttons > * {
    margin: 0 1rem;
}

@media (max-width: 900px)  {
    .home .snippet {
        flex-direction: column;
    }

    #arrow-animation {
        transform: rotate(90deg);
    }

    .nav-buttons {
        display: flex;
        flex-direction: column;
    }
    .nav-buttons > * {
        margin: 1rem 0;
    }
}

/*------------------------------------------------------------------
 *      DOCUMENTATION PAGE
 *-----------------------------------------------------------------*/

.documentation {
    display: flex;
    flex-direction: row;
}

.documentation aside {
    background: var(--secondary-light);
    flex-grow: 1;
}

.documentation aside > div {
    max-width: 400px;
    padding: 4rem 2rem;

    position: -webkit-sticky;
    position: sticky;
    top: var(--nav-bar-height);

    display: flex;
    flex-direction: column;
    height: calc(100vh - 2 * 4rem - var(--nav-bar-height));
    overflow-y: scroll;
    justify-content: space-between;
}

.documentation aside a {
    text-decoration: none;
    color: var(--highlight-2);
}

.documentation aside a:hover {
    text-decoration: underline;
    color: var(--highlight-1);
}

.documentation aside h5 a {
    color: var(--primary);
}

.documentation article {
    flex-grow: 4;
    padding: 8rem;
    max-width: unset !important;
}

.documentation article h2, .documentation article h4 {
    font-weight: bold;
}

.documentation code {
    max-width: 1000px;
    border: 1px solid var(--gray);
    border-radius: 4px;
}

.documentation .architect img {
    border-radius: 4px;
    border: 1px solid var(--gray);
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 90%;
}

.documentation .try-box {
    text-align: center;
    margin: 4rem 0;
}

.documentation .important {
    color: var(--highlight-1);
}

.documentation .important::first-letter {
    font-size: x-large;
    font-weight: bold;
}

@media (max-width: 900px) {
    .documentation aside {
        display: none;
    }

    .documentation aside.show {
        display: flow;
        position: fixed;
        z-index: 500;
        width: 100%;
        height: 100%;
    }

    .documentation aside > div {
        max-width: unset;
    }

    .documentation {
        display: unset;
    }

    .documentation article {
        padding: 0;
    }
}

@media (max-width: 400px) {
    .documentation .container {
        padding: 1rem;
    }
}

/*------------------------------------------------------------------
 *      PLAYGROUND PAGE
 *-----------------------------------------------------------------*/

.playground {
    height: calc(100vh - var(--nav-bar-height) - 1rem);
    min-width: 900px;
    display: grid;
    padding: var(--playground-main-gap);
    grid-gap: var(--playground-main-gap);

    grid-template:
    "sql display" min-content
    "css display" 1fr / min-content 1fr;
}

.playground #sql {
    grid-area: sql;
    overflow: auto;
    resize: both;
    min-width: 400px;
    max-width: 75vw;
    min-height: 300px;
    max-height: calc(100vh - 300px);
}

.playground #sql > * {
    margin: 0
}

.playground #css {
    grid-area: css;
    min-width: 400px;
    max-width: 75vw;
}

.playground #display {
    grid-area: display;
    /*height: fit-content;*/
}

.playground .box-header {
    height: var(--box-header-height);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

.playground .box-header .tab {
    border-radius: 4px 4px 0 0;
    background: var(--secondary-light);
    border-bottom: none;
}

.playground .box-header .tab button {
    background: var(--secondary-light);
    /*border: 1px solid var(--gray);*/
}

.playground .box-header .tab button.selected {
    color: var(--primary);
    border-color: var(--primary);

    /*background: var(--primary);*/
    /*color: white;*/
    /*border-color: var(--primary);*/
}

.playground .box-header > div {
    font-weight: bold;
    text-transform: uppercase;
    height: 100%;
}

.playground #sql-editor,
.playground #css-editor {
    border: 1px solid var(--gray);
    border-radius: 4px;
}

.playground [id$="-editor"] {
    height: calc(100% - var(--box-header-height) - 1.5rem);
    margin-top: 0;
    font-size: 1.35rem;
}

.playground #css-editor {
    height: calc(100% - var(--box-header-height) - 3.5rem);;
}

.playground .html-content {
    background: white;
    border: 1px solid #bbb;
    border-top: none;
    border-radius: 0 4px 4px 4px;
    padding: 0;
    width: 100%;
    height: calc(100% - var(--box-header-height) - var(--box-header-height));
}

.playground .html-content > * {
    border: none;
    margin: 0;
    width: 100%;
    height: 100%;
}

.playground #run {
    background: #5eba7d;
    color: white;
    cursor: pointer;

    font-size: 11px;
    height: 2.5rem;
    padding: 0 30px 0 30px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    transition: background-color ease-in-out 0.2s;
}

.playground #run:hover {
    background: #55ab72;
}